*{
    font-family: verdana;
}

body{
    margin: 0;
}

ul.navbar{
    background: linear-gradient(27deg, rgb(56, 55, 144), rgb(30, 102, 185));
    margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

li.nav{
    display:inline;
	text-align:left;
	font-size:19px;
    margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 5%;
	cursor: pointer;
}

li.nav:hover{
    color: #53B48B;
}

div.header{
    display: block;
    background: linear-gradient(45deg, #3e3b95, #2c8de1);
    padding-top: 120px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    color: white;
}

div.todos{
    background: linear-gradient(60deg, rgb(253, 255, 253), rgb(251, 251, 251));
    width: 70%;
    margin: auto;
    padding: 10px 5% 10px 5%;
    border: 1px solid silver;
    color: #3E3A94;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #3E3A94;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img.header{
    background-repeat: repeat-y;
}

button {
  background: linear-gradient(180deg, #ff5a2a, #b53737);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

button:hover{
    background: #ff5a2a;
}