*{
    display: block;
    font-family: helvetica-neue;
}

body{
    background: #f9f9f9;
    padding: 20px 20% 20px 20%;
}

page{
    background: white;
    border: 1px solid silver;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 7.5% 20px 7.5%;
}

flex{
    display: flex;
}

fill{
    width: 100%;
    order: 3;
}

logoImg{
    background-image: url("https://mediaery.com/themes/unhook-books/assets/img/variations/signup-1/logo-white.svg");
    background-size: 80px 30px;
}

mainImg{
    width: 100%;
    height: 1.5cm;
    background-image: url("https://mediaery.com/themes/unhook-books/assets/img/variations/signup-1/mixedmedia_header.png");
}

checkOut{
    width: 100%;
    height: 2cm;
    background-repeat: no-repeat;
    background-image: url("https://azmain.com/themes/unhook-books/assets/img/icon/logo-checkout-cards.png");
}

table{
    display: table;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0 20px 0;
}

row{
    display: table-row;
}

row:nth-child(even) {
  background-color: #dddddd;
}

point, pc{
    display: table-cell;
    border: 1px solid #dddddd;
    padding: 8px;
}

pc{
    text-align: center;
    font-weight: bolder;
}

h3, h5, h7, pb{
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

p, input{
    padding-top: 5px;
    padding-bottom: 5px;
}

h3{
    font-size: 25px;
}

h5{
    font-size: 21px;
}

h7{
    font-size: 19px;
}

input{
    width: 100%;
    height: 1cm;
    border: 1px solid silver;
    border-radius: 5px;
}

input:hover{
    border-color: black;
}

button{
    width: 100%;
    height: 1.5cm;
    background: linear-gradient(180deg, #ff5a2a, #b53737);
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover{
    background: #ff5a2a;
}

p, pb{
    font-size: 17px;
}

@media only screen and (max-width: 1280px){
    mainImg{
        height: 1cm;
    }
}

@media only screen and (max-width: 1200px){
    body{
        padding-left: 30%;
        padding-right: 30%;
    }
    point, pc{
        font-size: 10px;
    }
}

@media only screen and (max-width: 1000px){
    body{
        padding-left: 17%;
        padding-right: 17%;
    }
}

@media only screen and (max-width: 700px){
    flex{
        display: block;
    }
    table, row, point, pc{
        display: block;
    }
}

@media only screen and (max-width: 600px){
    body{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 500px){
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}